*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    font-family: monospace;
    font-size: 1rem;
}

header {
    text-align: center;
    background: #fff;
}

.container {
    width: 66vw;
    /* width: clamp(90vw, 66vw, 90vw); */
    padding: 40px;
    margin: 0 auto;
    /* box-shadow: 10px 0 rgba(0,0,0,.5), -10px 0 rgba(0,0,0,.5); */
}

#filter-dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filter-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.filter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filter-inner-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#submit-filters-button {
    flex-basis: 100%;
    align-self: center;
    text-align: center;
    margin: 20px auto;
}

#submit-filters-button button {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    line-height: 1;
    border: none;
    border-radius: 12px;
    background-color: #222;
    color: #fff;
}

#content {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

}

#content .country {
    /* border: 1px solid red; */
    padding: 20px;
    background-color: rgba(0,0,0,.1);
    border-radius: 10px;
    transition: all .3s ease;
}

#content .country:hover,
#content .country:focus {
    scale: 1.1;
    background-color: rgba(255,255,255,.75);
    cursor: pointer;
}

#content .country img {
    height: 10vh;
    margin: 0 auto 20px;
}

#content .region-name {
    display: inline-block;
    max-width: 100px;
    text-wrap: wrap;
}

.flags-container h2 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
    border-bottom: 1px dotted #222;
    padding-bottom: 20px;
}

.flags-container #total-results {
    font-size: 1.6rem;
    color: #fff;
    background: #222;
    padding: .2em .4em;
    border-radius: .6em;
}

.flags-container .info {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 20px;
    border-bottom: 1px dotted #222;
    padding-bottom: 20px;
}

.flags-container .info .individual-color-count {
    padding: .2em .4em;
    border-radius: .5em;
    line-height: 2;
    font-weight: bold;
}