*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    font-family: monospace;
    font-size: 1rem;
}

header {
    text-align: center;
    background: #fff;
}

.container {
    width: 66vw;
    /* width: clamp(90vw, 66vw, 90vw); */
    padding: 40px;
    margin: 0 auto;
    container-type: inline-size;
}

#filter-dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

.filter-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.filter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 1px solid #aaa;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.filter-inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.filter-inner-container div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#filter-container-include-colors .filter-inner-container,
#filter-container-exclude-colors .filter-inner-container {
    gap:4px;
}

.filter-inner-container input[type="checkbox"] ~label {
    display: none;
}

.filter-inner-container input[type="checkbox"]{
    height:40px;
    width:40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    border-radius: 2px;
}

.filter-inner-container input[type="checkbox"]:checked::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}

.filter-inner-container input[type="checkbox"]:checked::before {
    box-shadow: inset 0 0 0 4px #ddd,
    -2px -2px 8px rgba(255, 255, 255, .8),
    2px 2px 8px rgba(0, 0, 0, .3);
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.filter-inner-container input[type="checkbox"]::after {
    display: grid;
    width: 100%;
    height: 100%;
    place-items: center;
    font: var(--fa-font-solid);
    color: #fff;
    font-size: 1.2rem;
}

#filter-container-include-colors input[type="checkbox"]:checked::after {
    content: '\f00c';
}

#filter-container-exclude-colors input[type="checkbox"]:checked::after {
    content: '\f00d';
}

#submit-filters-button {
    grid-column: 1 / 3;
    grid-row: 5 / 5;
    text-align: center;
    margin: 20px auto;
}

#submit-filters-button button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    line-height: 1;
    border: none;
    border-radius: 12px;
    background-color: #222;
    color: #fff;
}

#content {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

#content .country {
    padding: 20px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
    transition: all .3s ease;
}

#content .country:hover,
#content .country:focus {
    scale: 1.1;
    background-color: rgba(255, 255, 255, .75);
    cursor: pointer;
}

#content .country img {
    height: 10vh;
    margin: 0 auto 20px;
}

#content .region-name {
    display: inline-block;
    max-width: 100px;
    text-wrap: wrap;
}

.flags-container h2 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
    border-bottom: 1px dotted #222;
    padding-bottom: 20px;
}

.flags-container #total-results {
    font-size: 1.6rem;
    color: #fff;
    background: #222;
    padding: .2em .4em;
    border-radius: .6em;
}

.flags-container .info {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 20px;
    border-bottom: 1px dotted #222;
    padding-bottom: 20px;
}

.flags-container .info .individual-color-count {
    padding: .2em .4em;
    border-radius: .5em;
    line-height: 2;
    font-weight: bold;
}

/* media & container queries */
@media all and (width < 1024px) {
    .container {
        width: 98vw;
        padding: 20px;
    }
    header h1 {
        font-size: 1.5rem;
    }
    .filter-inner-container input[type="checkbox"]{
        height:28px;
        width:28px;
    }
}


@container (width < 1200px) {
    #filter-dashboard {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .filter-container {
        grid-column: 1 / 1;
    }
    #submit-filters-button {
        grid-column: 1 / 1;
    }
}